




<form action="/Person/Details" method="post"> 


	Id : <input type="text" name="Id"/>

	<br/>

	Name : <input type="text" name="Name" />

	<br />

	<Select name="Image">
		<option value="1.jpg">img1</option>
		<option value="2.jpg">img2</option>
		<option value="3.jpg">img3</option>
		<option value="4.jpg">img4</option>
		<option value="5.jpg">img5</option>
		<option value="6.jpg">img6</option>
		<option value="7.jpg">img7</option>

	</Select>

	<br/>
	<input type="submit" value="save"/>

</form> 

