@using MVC_day6.ViewModels
@model ProductCustomerViewModel
<h6>Product Details</h6>
<partial name="_CardPartial" model="Model"/>
<br/>
<br/>
<a asp-action="Index" class="btn btn-primary">Back to List</a>