



<div style="background-color:wheat;">
	<br/>
	

<h1>***********************admin*********************</h1>



<br/>
</div>

<form>
	<div class="form-group">

		<label class="form-label">my label</label>
		<input class="form-control"/>

	</div>

	<div class="form-group">
		<label class="form-label">name</label>
		<input class="form-control" />

	</div>

</form>