<div style="background-color:brown; height:400px; width:100%">
    *********************** Header **************************
</div>

@RenderBody()

<div style="background-color:blueviolet; height:400px; width:100%">
    *********************** Footer **************************
</div>