<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div style="background-color:antiquewhite; height:400px; width:100%" >
        *********************** Footer **************************
    </div>
</body>
</html>
