@*@{
    Layout = "_MasterLayout.cshtml";
}*@


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        ******************** Page3 - Razor Page *******************
    </div>
</body>
</html>
